* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aqua;
}

/* header / nav bar styles */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 a {
  font-size: 2.75vw;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  flex-grow: 1;
}

header h1 a:hover {
  background-color: rgb(187, 153, 187);
  color: white;
  border-radius: 50%;
}

header nav ul {
  padding: 15px 15px 0 0;
  margin: 15px 15px 0 0;
}

header nav ul li {
  display: inline;
  list-style: none;
  font-size: 1.5vw;
  margin-left: 2.5vw;
}

header nav a {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

header nav a:hover {
  background-color: rgb(187, 153, 187);
  color: white;
  border-radius: 50%;
}

/* background image */
/* .background {
  display: flex;
  display: inline-flexbox;
  width: 100%;
  top: 0%;
  width: 100%;
} */

.background {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  width: 100%;
  height: 25rem;
}

section div h2 {
  padding: 20.5rem 3rem 0 0;
  font-size: 2.25rem;
  font-style: italic;
  color: blueviolet;
}

/* about me section */
#about-me {
  display: flex;
  justify-content: center;
}

/* article h2 {
  padding: 2rem 10rem 0 10rem;
  border-right: 5px blue solid;
  font-size: 2rem;
  color: blue;
} */

.primary-section-header {
  padding: 2rem 10rem 0 10rem;
  border-right: 5px blue solid;
  font-size: 2rem;
  color: blue;
}

article p {
  padding-left: 2rem;
  font-size: 1.75rem;
  font-style: bold;
}

/* work section */
#work {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: row; */
}

/* section div img {
  width: 30%;
  height: 20%;
} */

.run-buddy {
  flex: 1;
  padding: 20px;
}

.run-buddy img {
  width: 35%;
  height: 30%;
}

.extra-image {
  flex: 1;
  padding: 20px;
}

.extra-image img {
  width: 30%;
  height: 20%;
}

/* Contact me */
#contact-me {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

#contact-me nav ul {
  padding: 15px 15px 0 0;
  margin: 15px 15px 0 0;
}

#contact-me nav ul li {
  display: inline;
  list-style: none;
  font-size: 1.5vw;
  margin-left: 2.5vw;
}

#contact-me nav a {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

#contact-me nav a:hover {
  background-color: rgb(187, 153, 187);
  color: white;
  border-radius: 50%;
}

/* resume section */
#resume {
  display: flex;
  justify-content: center;
}

#resume div a {
  /* padding-left: 3rem; */
}

#resume div a img {
  padding-left: 3rem;
  width: 45%;
}
@media screen {
}
