* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aqua;
}

/* header / nav bar styles */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 a {
  font-size: 2.75vw;
  font-style: italic;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  flex-grow: 1;
}

header h1 a:hover {
  background-color: rgb(187, 153, 187);
  color: white;
  border-radius: 50%;
}

header nav ul {
  padding: 15px 15px 0 0;
  margin: 15px 15px 0 0;
}

header nav ul li {
  display: inline;
  list-style: none;
  font-size: 1.5vw;
  margin-left: 2.5vw;
}

header nav a {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

header nav a:hover {
  background-color: rgb(187, 153, 187);
  color: white;
  border-radius: 50%;
}

/* background image */

.background {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  width: 100%;
  height: 25rem;
}

section div h2 {
  padding: 20.5rem 3rem 0 0;
  font-size: 2.25rem;
  font-style: italic;
  color: blueviolet;
}

/* about me section */
#about-me {
  display: flex;
}

.primary-section-header {
  padding: 2rem 10rem 0 10rem;
  border-right: 5px blue solid;
  font-size: 2rem;
  color: blue;
  width: 20%;
}

article p {
  padding-left: 2rem;
  font-size: 1.75rem;
  width: 60%;
}

/* work section */
#work {
  display: flex;
}

#work div {
  display: flex;
  justify-content: flex-start;
}

.run-buddy {
  flex: 60%;
  flex-flow: row wrap;
  padding-top: 3rem;
  padding-left: 7rem;
}

.run-buddy a {
  width: 80%;
  height: 30%;
  position: relative;
}

.run-buddy img {
  width: 100%;
  height: 100%;
  display: block;
  border: 0.75rem grey solid;
  z-index: 0;
  position: relative;
}

.run-buddy div h3 {
  font-size: 2rem;
  display: flex;
  z-index: 0;
}

.position {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  border: 3px yellowgreen solid;
  z-index: 10;
  font-size: 30px;
  color: rgb(0, 234, 255);
}

.extra-image {
  flex: 60%;
  padding-top: 3rem;
  width: 100%;
}

.extra-image a {
  width: 50%;
  height: 70%;
}

.extra-image a img {
  width: 500px;
  height: 250px;
  border: 0.75rem grey solid;
  margin-right: 7rem;
}

.extra-image a p {
  font-size: 20px;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  border: 3px yellowgreen solid;
  z-index: 10;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(0, 234, 255);
}

/* resume section */
#resume {
  display: flex;
}

#resume div a {
  /* width: 70%; */
}

#resume div a img {
  padding-left: 3rem;
  width: 49%;
}

/* Contact me */
#contact-me {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

#contact-me nav ul {
  padding: 15px 15px 0 0;
  margin: 15px 15px 0 0;
}

#contact-me nav ul li {
  display: inline;
  list-style: none;
  font-size: 1.5vw;
  margin-left: 2.5vw;
}

#contact-me nav a {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

#contact-me nav a:hover {
  background-color: rgb(187, 153, 187);
  color: white;
  border-radius: 50%;
}

/* footer section */
footer {
  background: aqua;
  padding: 40px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

footer h3 {
  color: blue;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
